<%- include('./header', {ownedGuilds: ownedGuilds}) %>
<br />
<div id="commands" class="list-group">
    <% let lastCategory = ''; %>
    <% for(var i = 0; i < guildSchema.commands.length; i++){ %>
        <% if(lastCategory !== guildSchema.commands[i].Category) { %>
            <% if(lastCategory === '') {%>
                <div class="h-divider1" id=<%= guildSchema.commands[i].Category %>></div>
            <% } else { %>
                <div class="h-divider" id=<%= guildSchema.commands[i].Category %>></div>
            <% } %>
            <h4><%= guildSchema.commands[i].Category %></h4>
            <% lastCategory = guildSchema.commands[i].Category %>
        <% } %>
        <a class="list-group-item list-group-item-action bg-dark text-light" aria-current="true" style="margin: 0px 0px 5px 0px!important;">
            <div class="d-flex w-100 justify-content-between align-items-start">
                <h5 class="mb-1"><%= guildSchema.commands[i].Name %></h5>
                <input id="<%= guildSchema.commands[i].Name %>" data-offstyle="dark" data-onstyle="success" type="checkbox" data-toggle="toggle" <%= (guildSchema.commands[i].Enabled ? 'checked' : '') %> onclick=<%= guildSchema.commands[i].Name %>()>
                <script>
                    $(function() {
                        $('#<%= guildSchema.commands[i].Name %>').change(function() {
                            $.ajax({
                                method: "POST",
                                url: window.location.href,
                                data: {"<%= guildSchema.commands[i].Name %>": <%= !guildSchema.commands[i].Enabled %>}
                            })
                        })
                    })
                </script>
            </div>
            <p class="mb-1">
                <% guildSchema.commands[i].Description.replace('<prefix>', guildSchema.prefix).replace('Usage', ';Usage').split(';').forEach(function(ln) { %>
                    <%= ln %><br>
                <% }) %>
            </p>
            <p class="mb-1"><%= guildSchema.commands[i].Category %></p>
        </a>
    <% } %>
</div>
<%- include('./footer') %>